/* RESET GENERAL */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: #e9d6cf;
    color:#222;
    overflow-x:hidden;
}

/* NAVBAR */
.navbar{
    width:100%;
    height:110px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    box-shadow:0 3px 12px rgba(0,0,0,.08);
}

/* CONTENEDOR LOGOS */
/* Logo izquierda */
.logo-left{
    width:140px;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo-left img{
    width:220px;           /* agranda la imagen */
    margin-left:-35px;     /* recorta espacio blanco izquierdo */
    height:auto;
    object-fit:cover;
}

/* Logo derecha */
.logo-right{
    width:190px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo-right img{
    width:100%;
    height:auto;
    object-fit:contain;
}

/* MENÚ */
.nav-links{
    display:flex;
    align-items:center;
    list-style:none;
    gap:45px;
}

.nav-links li a{
    text-decoration:none;
    color:#111;
    font-size:22px;
    font-weight:700;
    transition:0.3s;
    position:relative;
}

/* Hover */
.nav-links li a:hover{
    color:#c61d34;
}

.nav-links li a::after{
    content:"";
    position:absolute;
    width:0;
    height:3px;
    background:#c61d34;
    left:0;
    bottom:-8px;
    transition:0.3s;
}

.nav-links li a:hover::after{
    width:100%;
}

/* CONTENIDO */
.container,
.hero{
    max-width:1200px;
    margin:60px auto;
    padding:20px;
    text-align:center;
}

.hero{
    min-height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.hero h1{
    font-size:64px;
    color:#c61d34;
    margin-bottom:25px;
}

.hero p{
      max-width:900px;
    font-size:24px;
    line-height:1.8;
    color:#444;
    margin-bottom:20px;
}

/* TEST */
input{
    padding:14px;
    width:260px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

button{
    padding:14px 22px;
    border:none;
    background:#0d4d8b;
    color:white;
    border-radius:8px;
    margin-left:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    transition:.3s;
}

button:hover{
    background:#08345e;
}

.resultado{
    margin-top:30px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

/* RESPONSIVE */
@media(max-width:1200px){
    .navbar{
        flex-direction:column;
        height:auto;
        padding:20px;
        gap:20px;
    }

    .nav-links{
        gap:25px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .nav-links li a{
        font-size:18px;
    }

    .logo-left{
        width:180px;
    }

    .logo-right{
        width:200px;
    }
}

.descripcion{
    margin-top:25px;
    text-align:left;
    line-height:1.9;
    background:#fff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.descripcion h3{
    color:#c61d34;
    margin-bottom:15px;
    font-size:30px;
}

.descripcion h4{
    margin-top:20px;
    margin-bottom:10px;
    color:#0d4d8b;
}

.descripcion ul{
    padding-left:25px;
}

.descripcion li{
    margin-bottom:10px;
}

.container, .hero p{
    max-width:1000px;
    font-size:23px;
    line-height:1.9;
    color:#444;
    margin-bottom:25px;
}

/* PAGINA VIDEOS */
.videos-page{
    padding:60px 40px;
    text-align:center;
}

.videos-page h1{
    font-size:55px;
    color:#c61d34;
    margin-bottom:25px;
}

.videos-texto{
    max-width:950px;
    margin:0 auto 50px;
    font-size:22px;
    line-height:1.8;
    color:#444;
}

/* CONTENEDOR */
.videos-container{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:40px;
    flex-wrap:wrap;
}

/* TARJETAS */
.video-card{
    background:white;
    width:100%;
    max-width:550px;
    padding:25px;
    border-radius:18px;
    box-shadow:0 3px 12px rgba(0,0,0,.08);
}

.video-card h2{
    color:#0d4d8b;
    margin-bottom:15px;
}

.video-card p{
    color:#555;
    line-height:1.7;
    margin-bottom:20px;
}

.video-card video{
    width:100%;
    border-radius:14px;
}

/* TABLA HOLLAND */
.tabla-holland{
    width:100%;
    overflow-x:auto;
    margin-top:50px;
}

.tabla-holland table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 3px 12px rgba(0,0,0,.08);
}

.tabla-holland thead{
    background:#c61d34;
    color:white;
}

.tabla-holland th{
    padding:20px;
    font-size:20px;
    text-align:left;
}

.tabla-holland td{
    padding:20px;
    border-bottom:1px solid #e5e5e5;
    line-height:1.8;
    font-size:17px;
    vertical-align:top;
}

.tabla-holland tr:hover{
    background:#f8f8f8;
}

/* GALERIA INICIO */
.galeria{
    margin-top:60px;
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.galeria-card{
    background:white;
    padding:15px;
    border-radius:20px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    transition:.3s;
    max-width:500px;
}

.galeria-card:hover{
    transform:translateY(-5px);
}

.galeria-card img{
    width:100%;
    max-width:450px;
    border-radius:16px;
    display:block;
}